body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}


h2 {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a {
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
  color: #EAF6F6;

}
.footer {
  background-color: #66BFBF;
  font-size: 0.60rem;
text-align: left;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 400px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}



.p1 {
  font-weight: normal;
  color: #66BFBF;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.p6 {
  width: 30%;
  margin: auto;
}

.Office {
width:25%;
  float: right;
  margin-left: 30px;
}

.webdevel {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.salesforce {
  width: 25%;
  float: right;
  margin-left: 30px;
  position: relative;
  top: -28px;
}

.land {
  vertical-align: bottom;
}

.p2 {
  clear: left;
}

.p3 {
  clear: right;
  padding: 20px;
}

.p5 {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding: 40px;
  border-style: solid;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
